maxcrossing:
    - 2
min_length:
    - 20
overlap_thr:
    - 1
overlap_thr_list:
    - null
step_list:
    - 0.2
    - 0.2
    - 0.3
    - 0.4
    - 0.5
curv_thr_list:
    - 60
    - 30
    - 30
    - 10
nilearn_parc_atlases:
    - 'atlas_harvard_oxford'
    - 'atlas_aal'
    - 'atlas_destrieux_2009'
    - 'atlas_talairach_gyrus'
    - 'atlas_talairach_ba'
    - 'atlas_talairach_lobe'
nilearn_coord_atlases:
    - 'coords_power_2011'
    - 'coords_dosenbach_2010'
nilearn_prob_atlases:
    - 'atlas_msdl'
    - 'atlas_pauli_2017'
available_models:
    func_models:
      - 'corr'
      - 'sps'
      - 'cov'
      - 'partcorr'
      - 'QuicGraphicalLasso'
      - 'QuicGraphicalLassoCV'
      - 'QuicGraphicalLassoEBIC'
      - 'AdaptiveQuicGraphicalLasso'
    struct_models:
      - 'csa'
      - 'csd'
resource_dict:
      - 'fetch_nodes_and_labels_node':
        - (1, 1)
      - 'check_orient_and_dims_func_node':
        - (1, 2)
      - check_orient_and_dims_mask_node:
        - (1, 1)
      - node_gen_node:
        - (1, 1)
      - 'check_orient_and_dims_dwi_node':
        - (1, 2)
      - 'extract_ts_node':
        - (2, 6)
      - 'clustering_node':
        - (2, 8)
      - 'get_conn_matrix_node':
        - (1, 2)
      - 'thresh_func_node':
        - (1, 0.5)
      - 'register_node':
        - (2, 6)
      - 'register_atlas_node':
        - (2, 4)
      - 'get_fa_node':
        - (1, 2)
      - 'run_tracking_node':
        - (2, 8)
      - 'thresh_diff_node':
        - (1, 0.5)
      - 'dsn_node':
        - (1, 4)
      - 'streams2graph_node':
        - (1, 4)
execution_dict:
    - 'stop_on_first_crash':
        - False
    - 'crashfile_format':
        - 'txt'
    - 'parameterize_dirs':
        - True
    - 'display_variable':
        - ':0'
    - 'job_finished_timeout':
        - 120
    - 'matplotlib_backend':
        - 'Agg'
    - 'use_relative_paths':
        - False
    - 'keep_inputs':
        - False
    - 'remove_unnecessary_outputs':
        - True
    - 'remove_node_directories':
        - True
    - 'raise_insufficient':
        - False
    - 'maxtasksperchild':
        - 1
    - 'poll_sleep_duration':
        - 20
    - 'hash_method':
        - 'content'
