[run]
omit = 
	*__init__*
	*__pycache__*
	tests/*
	docs/*
	*.json
	setup.py
	setup.cfg
	tox.ini
	requirements.txt
	README.rst
	README.md
	MANIFEST.ini
	Makefile
	Dockerfile
	CONTRIBUTING.rst
	AUTHORS.rst
	docker/*
	pynets/__about__.py
	pynets/cli/*
	pynets/_version.py
	get_version.py
	versioneer.py
	pynets/plotting/connectogram.js
	pynets/plotting/FD_graph.json
	pynets/plotting/fdg.js
	pynets/plotting/index.html
	pynets/templates/*
	pynets/rsnrefs/*
	pynets/core/atlases/*
	pynets/core/labelcharts/*
	pynets/runconfig.yaml
	pynets/conftest.py
	pynets/stats/nodal_graph_measures.yaml
	pynets/stats/global_graph_measures.yaml
	pynets/stats/netmotifs.py
	pynets/stats/benchmarking.py
	pynets/stats/embeddings.py
	pynets/stats/prediction.py
        pynets/stats/utils.py
	pynets/registration/register.py
	pynets/core/interfaces.py
	pynets/core/cloud_utils.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    raise NotImplementedError
    warnings\.warn
