pynets/rsnrefs/BIGREF1mm.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/rsnrefs/BIGREF2mm.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/rsnrefs/SMALLREF1mm.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/rsnrefs/SMALLREF2mm.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/templates/ch2better.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/rsnrefs/Schaefer2018_1000_17nets_ref.txt filter=lfs diff=lfs merge=lfs -text
pynets/rsnrefs/Schaefer2018_1000_7nets_ref.txt filter=lfs diff=lfs merge=lfs -text
pynets/templates/MNI152_T1_1mm.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/templates/MNI152_T1_brain_1mm.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/templates/MNI152_T1_brain_mask_1mm.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/templates/MNI152_T1_2mm.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/templates/MNI152_T1_brain_2mm.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/templates/MNI152_T1_brain_mask_2mm.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/templates/FA_1mm.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/templates/FA_2mm.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/templates/LateralVentricles_1mm.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/templates/LateralVentricles_2mm.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/templates/CorpusCallosum_1mm.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/templates/CorpusCallosum_2mm.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/DesikanKlein2012.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/Juelichgmthr252mmEickhoff2005.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/MICCAI2012MultiAtlasLabelingWorkshopandChallengeNeuromorphometrics_4d.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/destrieux2009_rois.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/AAL2zourioMazoyer2002.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/AALTzourioMazoyer2002.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/VoxelwiseParcellationt058kLeadDBS.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/RandomParcellationsc05meanalll43Craddock2011.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/whole_brain_cluster_labels_PCA100.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/whole_brain_cluster_labels_PCA200.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/AICHAreorderedJoliot2015_4d.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/BrainnetomeAtlasFan2016_4d.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/Hammers_mithAtlasn30r83Hammers2003Gousias2008.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/HarvardOxfordThr252mmWholeBrainMakris2006.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/BrainnetomeAtlasFan2016.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/CorticalAreaParcellationfromRestingStateCorrelationsGordon2014_4d.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/CorticalAreaParcellationfromRestingStateCorrelationsGordon2014.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/HarvardOxford-sub-prob-1mm.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/HarvardOxford-sub-prob-2mm.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/MICCAI2012MultiAtlasLabelingWorkshopandChallengeNeuromorphometrics.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/destrieux2009_rois_4d.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/AICHAJoliot2015.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/AICHAreorderedJoliot2015.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/AAL2zourioMazoyer2002_4d.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/DesikanKlein2012_4d.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/AICHAJoliot2015_4d.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/VoxelwiseParcellationt0435kLeadDBS.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/Hammers_mithAtlasn30r83Hammers2003Gousias2008_4d.nii.gz filter=lfs diff=lfs merge=lfs -text
pynets/core/atlases/VoxelwiseParcellationt0515kLeadDBS.nii.gz filter=lfs diff=lfs merge=lfs -text
