include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include versioneer.py
include pynets/_version.py
include requirements.txt

recursive-include * *.nii.gz
recursive-include * *.html
recursive-include * *.js
recursive-include * *.txt
recursive-include * *.csv
recursive-include pynets/cli *
recursive-include pynets/core *
recursive-include pynets/config *
recursive-include pynets/templates/labelcharts *
recursive-include pynets/registration *
recursive-include pynets/fmri *
recursive-include pynets/templates *
recursive-include pynets/templates/atlases *
recursive-include pynets/templates/rsnrefs *
recursive-include pynets/dmri *
recursive-include pynets/plotting *
recursive-include pynets/stats *
recursive-exclude tests *
recursive-exclude * *__pycache__
recursive-exclude * *.py[co]
recursive-include * *.yaml
recursive-include * *.json
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
