pandas>=0.24.2
Sphinx>=1.4.8
sphinx-argparse>=0.2.5
sphinx-rtd-theme>=0.4.3
psutil>=5.6.1
scipy>=1.0.0
numpy>=1.13.3
setuptools>=38.2.4
click>=6.7
numpydoc>=0.8.0
nibabel>=3.0.1
indexed_gzip>=0.8.8
seaborn>=0.7.1
matplotlib>=2.2.0
pytest>=3.3.1
networkx>=2.0
git+https://github.com/dPys/nilearn.git@enh/parc_conn
nipype==1.2.0
scikit_learn>=0.22.0
dipy>=1.1.0
pyyaml>=4.2b1
boto3>=1.9.111
pybids>=0.6.4
colorama>=0.3.9
python-louvain==0.13
scikit-image==0.14.2
fury>=0.2.0
deepbrain>=0.1.0
#skggm>=0.2.7
graspy>=0.0.2
#py3plex>=0.67
#sqlalchemy>=1.3.1
python-dateutil==2.8.0
docutils==0.14.0
