requests>=2.21
pandas>=0.24.2
Sphinx>=1.4.8
sphinx-argparse>=0.2.5
sphinx-rtd-theme>=0.4.3
psutil>=5.6.1
scipy==1.4.1
numpy>=1.16.0
setuptools>=41.0.0
click>=6.7
six>=1.12.0
numpydoc>=0.8.0
nibabel>=3.0.1
indexed_gzip>=0.8.8
seaborn>=0.7.1
matplotlib>=2.2.0
pytest>=3.3.1
networkx>=2.0
nipype==1.2.0
scikit_learn>=0.22.0
dipy>=1.1.0
pyyaml>=4.2b1
boto3>=1.9.111
pybids>=0.6.4
colorama>=0.3.9
python-louvain==0.13
scikit-image==0.14.2
graspy>=0.0.2
sqlalchemy>=1.3.1
python-dateutil==2.8.0
docutils==0.14.0
duecredit>=0.8.0
templateflow>=0.6.2
git+https://github.com/dPys/nilearn.git@enh/parc_conn
git+https://github.com/dPys/deepbrain.git@master
git+https://github.com/nkoub/multinetx.git@master
# fury>=0.2.0
# skggm>=0.2.7
# nltk>=3.4
# liwc>=0.5.0
# nimare>=0.0.2
