a:visited {
	color: #6ea4e6 !important;
}

pre {
	background-color: #1c1c1c; !important;
}

div.highlight {
	color: #1c1c1c; !important;
}

span.pre {
    color: #5b0e9e !important;
}

.wy-nav-content {
	background: #3c3c3c !important;
	color: aliceblue;
}

.method dt, .class dt, .data dt, .attribute dt, .function dt,
	.descclassname, .descname {
	background-color: #525252 !important;
	color: white !important;
}

.toc-backref {
	color: grey !important;
}

code.literal {
	background-color: #bababa !important;
}

span {
    color: orange !important;
}

.wy-nav-content-wrap {
	background-color: rgba(0, 0, 0, 0.6) !important;
}

.sidebar {
	background-color: #191919 !important;
}

.sidebar-title {
	background-color: #6d6d6d !important;
}

.xref, .py-meth {
	color: #7ec3e6 !important;
}

.admonition, .note {
	background-color: #6d6d6d !important;
}

.wy-side-nav-search {
	background-color: #000000 !important;
}

.wy-table thead, .rst-content table.docutils thead, .rst-content table.field-list thead {
    background-color: #b9b9b9 !important;
}

.wy-table thead th, .rst-content table.docutils thead th, .rst-content table.field-list thead th {
    border: solid 2px #e1e4e5 !important;
}

.wy-table thead p, .rst-content table.docutils thead p, .rst-content table.field-list thead p {
    margin: 0;
}

.wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td, .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background-color: #000000 !important;
}

.rst-content pre.literal-block, .rst-content div[class^='highlight'] {
    border: none;
}

.highlight .s1 { color: #8ae2ff !important; }
.highlight .mi { color: #8ae2ff !important; }
.highlight .mf { color: #8ae2ff !important; }
.highlight .nb { color: orange !important; }
.highlight .c1 { color: white !important; }
.highlight .m { color: #8ae2ff !important; }
.highlight .o { color: orange !important; }
.highlight .nv { color: #8ae2ff !important; }

